
process
{
	withName: fastp{
		container = 'quay.io/biocontainers/fastp:0.23.3--h5f740d0_0'
			}
	withName: skesa{
		container = 'quay.io/biocontainers/skesa:2.5.1--hdcf5f25_0'
			}
    	withName: quast{
        	container = 'quay.io/biocontainers/quast:5.0.1--py27pl526ha92aebf_0'
    			}
   	withName: mlst{
        container = 'quay.io/biocontainers/mlst:2.15.1--0'
    			}
}
docker.enabled = true		
